/* Style your content as needed */

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background:black;
    text-align: center;
    padding: 5px; 
    margin-top: auto; 
    max-width: 100%;
}

#logoReflextFooter {
    padding: 2%; /* Réduisez la taille du logo */
    width: 6%; /* Réduisez la largeur du logo */
    height: auto;
    margin-right: 3%;
    margin-left: 5%;
}

footer .contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 4%;
    margin-bottom: 3%;
    margin-top: 3%;
}

footer h1,
footer p {
    color: white;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
}

footer .contact h1,
footer .contact p,
footer .newletter h1,
footer .newletter p {
    font-size: 1vw; /* Réduisez la taille de la police */
    line-height: 1,5vw; /* Réduisez l'espacement entre les lignes */
}

footer .contact hr {
    width: 50%;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}

footer .resaux {
    display: flex;
    align-items: center;
}

footer .resaux img {
    max-width: 5%; /* Réduisez la taille des images */
    height: auto;
}

footer .resaux p {
    margin-left: 1%; /* Réduisez l'espacement entre le texte et l'image */
}

footer .newletter {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0;
    max-width: 100%;
}

.newletter input[type='text'] {
    background-color: black;
    border: none; /* Supprimez les bordures par défaut */
    border-bottom: 1px solid #FFFFFF5E; /* Ajoutez une bordure en bas */
    outline: none;
    color: #FFFFFF5E; /* Changez la couleur du texte */
    padding-bottom: 5%;
    margin-top: 5%; /* Réduisez l'espacement au-dessus du champ de texte */
    margin-bottom: 5%; /* Réduisez l'espacement en dessous du champ de texte */
    width: 50%;
}

.newletter input[type='submit'] {
    color: #ffffff;
    background-color: #39b44a;
    font-size: 1vw; /* Réduisez la taille de la police du bouton */
    border: 1px solid #39b44a;
    padding: 0.5rem 1rem; /* Réduisez légèrement le rembourrage du bouton */
    cursor: pointer;
    width: 50%; /* Utilisez une largeur relative */
    height: auto; /* Utilisez une hauteur automatique pour s'ajuster au contenu */
    max-width: 100%;
}

.newletter input[type='text']::placeholder {
    font-size: 1vw; /* Définissez la taille du texte du placeholder */
}

