body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    z-index: 0;
}
body::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
background: #353535; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: #5c5b5b; /* color of the scroll thumb */
border-radius: 20px; /* roundness of the scroll thumb */
border: 3px solid #353535; /* creates padding around scroll thumb */
}


img {
    max-width: 100%;
    margin: 0;
}

/* Ajoutez cette règle pour supprimer les marges des divs autour des images */
.l1,
.top,
.l2,
.l3,
.l4 {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.l1 img, .l2 img{
    max-width: 50%;
    height: auto;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
}

.l4 img{
    max-width: 33.33%;
    height: auto;
}

#actif a{
    color:#39B44A;
}