body{
    background-color: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

hr{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

h1{
    color: white;
    font-size: 2vw;
    font-weight: 600;
    line-height: 3vw;
    letter-spacing: 0em;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

iframe{
    width: 90%;
    height: 100%;

}
#actif a{
    color:#39B44A;
}