html {
    font-family: 'Poppins', sans-serif;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    margin:0px;
  }
  body {
    background-color: #59ff00;
  }
  .container {
    width:1024px;
    max-width:100%;
    margin:0 auto;
  }

  .slider {
    position:relative;
    height:0px;
    padding-bottom:66.666666667%;
    margin-top:24px;
    margin-bottom:24px;
  }
  
  .slider__after {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    width:100%;
    height:100%;
    background-image:url('Mustang.JPG');
    background-size:cover;
    pointer-events: none;
  }
  
  .slider__before {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:50%;
    height:100%;
    background-image:url('Ferrari.JPG');
    background-size:cover;
    pointer-events: none;
    overflow:hidden;
  }
  
  .slider__before:before {
    content:'Avant';
    position:absolute;
    left:8px;
    top:8px;
  }

  
  .slider__after:before {
    content:'Après';
    position:absolute;
    right:8px;
    top:8px;
  }
  
  .slider__separator {
    position:absolute;
    left:50%;
    width:2px;
    top:0px;
    bottom:0px;
    background:rgba(255,255,255,0.7);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
    cursor:ew-resize;
    z-index:3;
    transform:translateX(-50%);
  }
  
  .slider__range {
    position:absolute;
    width:100%;
    bottom:0px;
    z-index: 3;
    appearance: none;
    background:rgba(255,255,255,0.3);
    outline:none;
    margin:0px;
  }
  
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider__range::-moz-slider-thumb {
    -moz-appearance: none;
    width:12px;
    height:16px;
    background:white;
  }
  
  .slider--tokyo .slider__before {
    background-image: url('images/tokyo_light_off.jpg');
  }
  
  .slider--tokyo .slider__after {
    background-image: url('images/tokyo_light_on.jpg');
  }
  
  .slider--tokyo .slider__separator:before {
    content:'';
    width:32px;
    height:32px;
    border-radius:50%;
    border:solid 2px white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .slider--tokyo .slider__range {
    display:none;
  }
  
  .slider--tokyo .slider__before:before, 
  .slider--tokyo .slider__after:before {
    top:50%;
    transform:translateY(-50%);
    background:rgba(255,0,0,0.5);
    padding:8px 16px;
    border-radius:8px;
    margin-left:8px;
    margin-right:8px;
  }

  figure {
    width: 500px;
    margin-left: 250px;
    display: grid;
    grid-template: 1fr / 1fr "stack";
    }

figure > * {
    grid-area: stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure > img {
    width: 50rem;
    aspect-ratio: 16/9;
    object-fit: cover;
}

figure > figcaption {
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms, visibility 0ms 400ms;
}


figure:hover > figcaption {
    opacity: 1;
    visibility: visible;
    transition: opacity 700ms;
}
.zoom-frame {
  width: 500px; /* Définissez la largeur du cadre selon vos besoins */
  overflow: hidden; /* Masque tout contenu dépassant du cadre */
  transition: transform 0.3s; /* Ajoute une transition pour créer l'effet de zoom en douceur */
}

.zoom-frame img {
  width: 100%; /* La largeur de l'image est égale à 100% de la largeur du cadre */
  height: auto; /* Maintient le ratio d'aspect de l'image */
  transition: transform 0.3s; /* Ajoute une transition à l'image pour créer l'effet de zoom */
}

.zoom-frame:hover img {
  transform: scale(1.2); /* Agrandit l'image de 10% au survol */
}

h1{
  text-align: center;
}
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #4eb5f1;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}

*{
  margin: 0; padding: 0;
  border: 0; outline: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none;
}
:root{
  --theme-col: #ff0000;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
  background-color: #ffffff;
}
.f-item-con{
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}
footer .app-name{
  color: rgb(0, 0, 0);
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.app-name .app-initial{
  color: var(--theme-col);
}
footer .app-info p{
  color: rgb(0, 0, 0);
  padding-left: 1.65rem;
}

footer .footer-title{ 
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(0, 0, 0);
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}
footer ul{ 
  padding-left: 1.75rem;
  color: rgb(0, 0, 0);
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem;
  margin-top: .5rem;
}
footer ul li{ 
  margin: .25rem 0;
  cursor: pointer;
  color: #000000;
  width: fit-content;
}
footer ul li:hover{
  color: rgb(135, 239, 0);
}
footer .help-sec{
  grid-column-start: 2;
}
footer .cr-con{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem 4rem;
  text-align: center;
}
.g-i-t{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.g-i-t form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
  padding: .25rem .5rem;
  font-size: 16px;
}
.g-inp textarea{
  height: 150px;
}
.f-btn{
  padding: .25rem 1rem;
  background-color: var(--theme-col);
  border-radius: .25rem;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}